@model demo_part2.Models.view_claims

<table>
    <thead>
        <tr>
            <th>User Email</th>
            <th>Module</th>
            <th>User ID</th>
            <th>Hours Worked</th>
            <th>Hour Rate</th>
            <th>Note</th>
            <th>Total Amount</th>
            <th>Status</th>
            <th>Filename</th>
        </tr>
    </thead>
    <tbody>
        @for (int count = 0; count < Model.Email.Count; count++)
        {
            <tr>
                <td>@Model.Email[count]</td>
                <td>@Model.Module[count]</td>
                <td>@Model.Id[count]</td>
                <td>@Model.Hours[count]</td>
                <td>@Model.Rate[count]</td>
                <td>@Model.Note[count]</td>
                <td>@Model.Total[count]</td>
                <td>@Model.Status[count]</td>
                <td>
                    <a href="@Url.Content($"~/pdf/{Model.Filename[count]}")">@Model.Filename[count]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
